<%# 광고로 사용할 배너, 슬라이딩 배너 필요 %>

    <div class="container">
			<ul class="bxslider" id="bxslider"> 
				<li><img class="img-rounded" src="dowon.png" width="100%" height="300px"> </li> 
				<li><img class="img-rounded" src="dowon.png" width="100%" height="300px"> </li> 
				<li><img class="img-rounded" src="dowon.png" width="100%" height="300px"> </li> 
			</ul> 
		</div> 
		<div class="" id="slider-pager">
			<ul style="text-align:center"> 
				<a data-slide-index="0" href="" onfocus="this.blur();" class="active">●</a>
				<a data-slide-index="1" href="" onfocus="this.blur();" class="">●</a>
				<a data-slide-index="2" href="" onfocus="this.blur();" class="">●</a>
			</ul> 
    </div>



<br><br>

<%# 메뉴 레이아웃 %>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <select id="schoolName" class="form-control" onchange="getChangeSelect();">
        <option value="nodata">위치를 선택하세요.</option>
        <option value="조선대">조선대</option>
        <option value="전남대">전남대</option>
    </select></div>
  <div class="col-md-4"></div>
</div><br><br\>

<div class="container">
    <div class="row">
        <%for i in 0..5%>
            <div class="col-md-4">
                <div class="card">
                <%# 링크투로 학교와 메뉴의 파라미터를 보내야함. %>
                    <%=link_to "javascript:callData(\"#{@arr[i]}\")" do %>
                    <img src="<%= @sazin[i] %>.png" alt="#{@sazin}" style="width:100%; height:320px;">
                    <%end%>
                        <br><br><h2 style="text-align: center;"><b><%= @arr[i] %></b></h2> 
                    </div>
                </div>
        <%end%>  
    </div>
</div>
<script>

    // index->게시판으로 이동
    function callData(menuIndex)
    {   
        var target = document.getElementById("schoolName");
        school = target.options[target.selectedIndex].value;
        if(school=="nodata") 
        {
            alert("위치를 선택해주세요!");
            return;
        }
        location.href="post/index?school="+school+"&menu="+menuIndex;
    }

</script>