<div style="padding-top: 10%;">
	<div class="container">
		<table class="table table-bordered table-hover text-center">
			<thead style="background-color: black;">
				<tr>
					<th style="text-align: center;"><font color="white">제목</font></th>
					<th style="text-align: center;"><font color="white">작성자</font></th>
					<th style="text-align: center;"><font color="white">작성일</font></th>
				</tr>
			</thead>
			<tbody>
				<%@notices.each do |x|%>
				<tr>
					<td><%=x.title%></td>
					<td><%=User.find(x.user_id).name%></td>
					<td><%=x.created_at%></td>
				</tr>r
				<%end%>
			</tbody>
		</table>

		<a href="/notice/create" class="btn btn-default pull-right">글쓰기</a>

		<div class="text-center">
			<ul class="pagination">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
		</div>
	</div>
</div>