<%=render 'layouts/header' %>
<div class="container content">
	<div class="row" style="margin-top: 1em">
		<%= render 'layouts/sidebar' %>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" method="post" id="signupForm" novalidate="novalidate">
						<div class="container">
							<h1>
								<%=render 'layouts/my_info'%>
							</h1>
						</div>
						<div style="margin-top:1em"></div>
						<input type="hidden" name="postkey" value="F78B14F5B0">
						<div class = "form-group">
							<label class="col-md-2 control-label" for="user_id">이메일</label>
							<div class="col-md-4">
								<input class="form-control" value="<%=current_user.email%>" disabled>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
