<div class="col-md-3">
	<ul class="list-group sidebar-nav-v1">
		<li class="list-group-item">
			<a href="/mypage/index">마이 페이지</a>
		</li>
	</ul>
	<ul class="list-group sidebar-nav-v1">
		<li class="list-group-item">
			<a href="/mypage/edit">비밀 번호 수정</a>
		</li>
		<li class="list-group-item">
			<a href="/mypage/profile">프로필 수정</a>
		</li>
		<li class="list-group-item">
			<a href="">내 뭐시기</a>
		</li>
	</ul>
</div>